<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${bookEntity.title} + '-会饮阁'">书</title>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body style="padding-top: 70px;">
<div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">会饮阁</a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li><a href="/archive">书架</a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${bookEntity.title}"></h1>
    <h3 th:text="${bookEntity.subtitle}"></h3>
    <br />
    <div th:if="${bookEntity.authorSet.size()} > 1">
        作者/译者：
        <ul>
            <li th:each="author: ${bookEntity.authorSet}">
                <a th:href="@{'/author/' + ${author.id}}" th:text="${author.name}"></a>
            </li>
        </ul>
    </div>
    <p th:if="1 == ${bookEntity.authorSet.size()}">
        作者/译者：
        <a th:each="author: ${bookEntity.authorSet}" th:href="@{'/author/' + ${author.id}}" th:text="${author.name}"></a>
    </p>
    <p th:if="null != ${bookEntity.press}">
        出版社：
        <a th:href="@{'/press/' + ${bookEntity.press.id}}" th:text="${bookEntity.press.name}"></a>
    </p>
    <p th:if="null != ${bookEntity.company}">
        文化公司：
        <a th:href="@{'/company/' + ${bookEntity.company.id}}" th:text="${bookEntity.company.name}"></a>
    </p>
    <p th:if="null != ${bookEntity.series}">
        丛书名：
        <a th:href="@{'/series/' + ${bookEntity.series.id}}" th:text="${bookEntity.series.name}"></a>
    </p>
    <p th:text="${'出版日期：' + #dates.format(bookEntity.date, 'yyyy年MM月dd日')}"></p>
    <p th:text="${'ISBN：' + bookEntity.isbn}"></p>
    <p th:text="${'分类号：' + bookEntity.classNum}"></p>
    <p>
        地点：
        <a th:href="@{'/city/' + ${bookEntity.city.id}}" th:text="${bookEntity.city.name}"></a>
    </p>
</div>
</body>
</html>