<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${cityEntity.name} + '-会饮阁'"></title>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <br />
    <a href="/" class="btn btn-info btn-lg" role="button">首页</a>
    <h1 th:text="${cityEntity.name}" />
    <ul>
        <li th:each="book: ${cityEntity.bookSet}">
            <a th:href="@{'/book/' + ${book.isbn}}" th:text="${book.title}" />
        </li>
    </ul>
</div>
</body>
</html>