<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>会饮阁</title>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <style>
        .o-vertical-center{
            display: flex;
            min-height: 80vh;
        }
    </style>
 </head>
<body>
<div class="container">
    <div class="o-vertical-center text-center">
        <div style="margin: auto;">
            <h1 th:text="会饮阁"></h1>
            <br />
            <form class="form" role="form" action="#" th:action="@{/search}" th:object="${search}" method="post">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="输入ISBN" th:field="*{query}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">查询</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>