<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${seriesEntity.name} + '-会饮阁'"></title>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body style="padding-top: 70px;">
<div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">会饮阁</a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li><a href="/archive">书架</a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${seriesEntity.name}" />
    <br />
    <p>
        <a th:href="@{'/press/' + ${seriesEntity.press.id}}" th:text="${seriesEntity.press.name}" />
    </p>
    <p>
        <a th:href="@{'/company/' + ${seriesEntity.company.id}}" th:text="${seriesEntity.company.name}" />
    </p>
    <ul>
        <li th:each="book: ${seriesEntity.bookSet}">
            <a th:href="@{'/book/' + ${book.isbn}}" th:text="${book.title}" />
        </li>
    </ul>
</div>
</body>
</html>